<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>NCDE</vendor>
  <vendor_url>https://ncde.local</vendor_url>

  <action id="org.ncde.vesper.maintain">
    <description>Run a Vesper security-maintenance task</description>
    <message>Vesper needs permission to run a security-maintenance task (re-baseline the rootkit scanner or update virus definitions).</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/ncde/vesper/ncde-vesper-priv</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
