[Desktop Entry]
Type=Application
Version=1.0
Name=Abacus
GenericName=Calculator
Comment=Count and calculate
Exec=/usr/local/bin/abacus
Icon=accessories-calculator
Terminal=false
Categories=Utility;Calculator;
Keywords=calculator;math;count;
StartupNotify=true
